<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>字典管理</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/admin.js"></script>
<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/redirect.js"></script>
</head>
<body>
<!--modal模态框开始  -->
<div class="confirm modal-content" id="myModal" aria-labelledby='myModalLabel' aria-hidden='true'>
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true" id="confirmCloseBtn"></span><span class="rs-only"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel">确定要删除吗</h4>
			</div>
			<div class="modal-body body">
				<span class="text-danger h4">删除是不可逆的，确定要删除吗？</span>
			</div>
			<div class="modal-footer">
				<a href="" type="button" class="btn btn-success" id="true">确定</a>
				<a href="" type="button" class="btn btn-danger" data-dismiss="modal" id="falseBtn">取消</a>
			</div>
</div>
<!--modal模态框结束  -->
{if $admin}
	<div class="row">
		<div class="col-xs-12">
		<form method="post" action="?a=dict&action=search">
			<ul class="breadcrumb">
					<li><a href='/index/welcome' target="main">后台首页</a></li>
					<li><a href='/feedback/admin'>反馈管理</a></li>
					<li class="active">显示反馈<li>
					</li>
				</ul>
				</form>
			<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="/feedback/deleteAll" method="post">
				<tr>
					<td>用户名</td>
					<td>联系方式</td>
					<td>反馈信息</td>
					<td>提交时间</td>
					<td width=80>处理反馈</td>
					<td><input type="checkbox" id="selectBar">全选</td>
				</tr>
				{if $AllFeedback}
				{foreach $AllFeedback as $key=>$value}
				<tr>
					<td>{$value->username}</td>
					<td title="{$value->contact}">{$value->contact|truncate:"10":"..."}</td>
					<td>{$value->reportMsg}</td>
					<td>{$value->reportTime}</td>
					<td width=130>{$value->state}</td>
					<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
				</tr>
				{/foreach}
				<tr>
					<td colspan="12"><input type="submit" value="全删" class="btn btn-success pull-right" name="send"></td>
				</tr>
				{else}
				<tr><td colspan="7">暂无广告</td></tr>
				{/if}
			</form>
			</table>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12 text-center page">
				<form action="" method="get" style="display:inline">
				<input type="hidden" name="action" value="show">
				<input type="hidden" name="a" value="ad">
					<select name="kind" class="input-sm">
						<option value="0" {$all}>所有广告</option>
						<option value="1" {$fullcolumn}>通栏广告</option>
						<option value="2" {$banner}>banner广告</option>
						<option value="3" {$slider}>slider广告</option>
						<option value="4" {$sidebar}>侧栏广告</option>
					</select>
					<input type="submit" name="send" value="提交" class="btn btn-success">
				</form>
			</div>
	</div>
	<div class="row">
    		<div class="col-md-12 text-center">
        		<div class="page">{$page}</div>
        </div>
    </div>
</div>
{/if}

</body>
</html>