<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>网站信息</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
	<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
	<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
	<script src="{$ROOT}/public/scripts/admin.js"></script>
	<script src="{$ROOT}/public/scripts/redirect.js"></script>
	<script src="{$ROOT}/public/scripts/preview.js"></script>
	<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
	<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
</head>
<body>
{if $feature}
<div class="row">
	<div class="col-md-12 catalogoue">
	<ul class="breadcrumb">
				<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
				<li class="active">网站特色</li>
			</ul>
		<ul>
			<li>面向对象</li>
			<li>MVC</li>
			<li>Smarty</li>
			<li>Bootstrap</li>
			<li>单入口</li>
			<li>HMTL5</li>
			<li>CSS3</li>
			<li>Ajax</li>
		</ul>
	</div>
</div>
{/if}
{if $func}
<div class="row">
	<div class="col-md-12 catalogoue">
	<ul class="breadcrumb">
				<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
				<li class="active">网站功能</li>
			</ul>
		<ul>
			<li>评论管理</li>
			<li>广告管理</li>
			<li>导航管理</li>
			<li>文章管理</li>
			<li>网站配置</li>
			<li>管理员管理 </li>
			<li>等级管理 </li>
			<li>权限管理  </li>
		</ul>
	</div>
</div>
{/if}
{if $catalogoue}
<div class="row">
	<div class="col-md-12 catalogoue">
	<ul class="breadcrumb">
				<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
				<li class="active">网站结构</li>
			</ul>
		<ul>
			<li>application
				<ul>
					<li>configs</li>
					<li>controllers</li>
					<li>includes</li>
					<li>models</li>
					<li>run</li>
					<li>src
						<ul>
							<li>admin</li>
							<li>home</li>
						</ul>
					</li>
					<li>ueditor</li>
					<li>views
						<ul>
							<li>admin</li>
							<li>home</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>libs</li>
			<li>public
				<ul>
					<li>fonts</li>
					<li>images</li>
					<li>scripts</li>
					<li>styles</li>
					<li>uploads
						<ul>
							<li>ad</li>
							<li>article</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{/if}
</body>
</html>