<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$oneAsk->topic|strip_tags}</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/vendor/ckeditor/ckeditor.js"></script>
<script src="{$ROOT}/public/scripts/login.js"></script>
<script src="{$ROOT}/public/scripts/home.js"></script>
<script src="{$ROOT}/public/scripts/frontnav.js"></script>
<link href="{$ROOT}/public/styles/footer.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/member.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/common.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/header.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<script src="{$ROOT}/public/scripts/login.js"></script>
<link href="{$ROOT}/public/styles/tools.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/ask.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/ask.js"></script>

</head>
<body id="home">
{include file="home/common.html"}
{include file="home/header.html"}
<div class="container">
{if $detail}
<div class="row">
	<div class="col-md-9 askMain">
	<ul class="oneAsk list-unstyled" >
		<li class="h1 text-center">{$oneAsk->topic}</li>
		<li class="text-center">
			<img class="img-circle oneAskIcon" src="{$ROOT}public/uploads/user/{$oneAsk->icon}">&nbsp;&nbsp;{$oneAsk->uid}于{$oneAsk->date}发布,
			{if $oneAsk->reponse_num}
				{$oneAsk->reponse_num}条回复
				{else}暂无回复
			{/if}
			</li>
		<li>{$oneAsk->content}</li>
	</ul>
	<dl>
		<dt></dt><a href="/ask/respond/id/{$oneAsk->id}" class="askBtn" target="_blank">我来回复</a>
		<dd style="text-align:left;"></dd>
		{if $responds}
		{foreach $responds as $key=>$value}
		<table class="table table-bordered table-striped table-hover">
		<tr>
			<td width=35><img class="img-circle" id="defaultUser" src="{$ROOT}public/uploads/user/{$value->icon}"></td>
			<td>{$value->uid}</td>
		</tr>
		<tr>
			<td colspan='2'>{$value->content}</td>
		</tr>
		<tr>
			<td colspan='2'>{$value->date}</td>
		</tr>
		</table>
		{/foreach}
		{else}
		<dd>暂无回复</dd>
		{/if}
	</dl>
	</div>
	<div class="col-md-3">
		<div class="askLeft">
			<h1>Coming Soon!</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 page text-center" style="margin-top:5px;">{$page}</div>
</div>
{/if}
{if $AllAsk}
<div class="row middle">
		<div class="col-md-12">		
		<dl class="memberTitle">
			{foreach $AllCourse as $value}
			<dd><a href="?a=ask&m=AllAsk&id={$value->id}">{$value->name}</a></dd>			
			{/foreach}			
			<h1 class="clearfix"></h1>
		</dl>
		{if $sub}
		{foreach $sub as $v}
		<div class="tab panel panel-default highlight">				
				<table border="0" cellspacing="0" cellpadding="0" width=100%>
				<tr style="height:33px;">
					<td rowspan="2" style="width:100px;text-align:center;" class="bg-primary"><a href="?a=ask&action=detail&id={$v->id}" style="color:white;" target="_blank">{$v->AnswerNum}<br>回复</a></td>
					<td><h2><a href="?a=ask&action=detail&id={$v->id}" class="question_title">{$v->topic|truncate:50:"..."}</a></h2></td>
					<td style="width:70px;padding-right:5px;"><a href="?a=ask&m=addTopic" class="btn btn-success">我要提问</a></td>					
				</tr>
				<tr><td colspan="2" style="padding-left:5px;border-top:1px dashed #ddd;color:#999;">				
				9小时前 by shenyou354
				<a href='?a=ask&m=respond&id={$v->id}&pid={$v->id}&cid={$v->cid}' target="_blank">回复</a>							
			</table>			
		</div>
		{/foreach}
		<div>{$page}</div>
		{else}
		<div class="tab panel panel-default highlight">				
				<table border="0" cellspacing="0" cellpadding="0" width=100%>
				<tr style="height:33px;">
					<td rowspan="2" style="width:100px;text-align:center;" class="bg-primary"><a href="?a=ask&action=detail&id={$value->id}" style="color:white;" target="_blank">暂无<br>问答</a></td>
					<td><h2><a href="?a=ask&action=detail&id={$value->id}" class="question_title">暂无问答</a></h2></td>
					<td style="width:70px;padding-right:5px;"><a href="?a=ask&m=addTopic" class="btn btn-success">我要提问</a></td>					
				</tr>
				<tr><td colspan="2" style="padding-left:5px;border-top:1px dashed #ddd;color:#999;">				
				<a href='?a=ask&m=respond&id={$value->id}&pid={$value->id}&cid={$value->cid}' target="_blank"></a>							
			</table>			
		</div>		
		{/if}		
		</div> 
</div>		
{/if}

{if $showTopic}
<div class="row">
	<div class="col-md-8">
		<form action='/ask/addTopic' method="post">
		<input type="hidden" name="uid" id="uid">
			<table>
				<tr>
					<td colspan="2" class="text-center">
						<select name="cid" class="input-sm" id="cid">
							<option value="0" {$all}>所属主题</option>
								{$course}
						</select>(<span class="glyphicon glyphicon-asterisk" style="color:red"></span>)
					</td>
				</tr>
				<td width=80 align="right">问题名称：</td>
				<td><input type="text" class="form-control" name="topic" id="topic"></td>
				<tr>
					<td colspan="2">	
						<script id="commentEditor" name="content" style="width:100%"></script>						 					
					</td>
				</tr>
				<tr><td><input type="submit" value="提交" name="send" class="btn btn-success" id="submitBtn"></td></tr>
			</table>	
		</form>	
	</div>
	<div class="col-md-4">
		<table class="table table-striped table-hover table-condensed" style="border:1px solid #ddd">
				<tr><th style="text-align:center;" colspan="3">热 门 问 答</th></tr>
				{if $askLeaderboard}
				{foreach $askLeaderboard as $key=>$value}
				<tr>
					<td width=70>{$value->answerNum}&nbsp;回复</td>
					<td><a class='ask_title' href="/ask/detail/id/{$value->id}" target="_blank">{$value->topic|truncate:21:"..."}</a></td>
					<td>{$value->uid}</td>
				</tr>
				{/foreach}	
				{else}	
				<tr><td>1</td><td><a href="javascript:void(0)">最佳前端入门方法</a></td><td>tom</td></tr>
				<tr><td>2</td><td><a href="javascript:void(0)">CSS权威指南如何？</a></td><td>tom</td></tr>
				<tr><td>3</td><td><a href="javascript:void(0)">JavaScript红宝书在哪儿有卖？</a></td><td>tom</td></tr>
				<tr><td>4</td><td><a href="javascript:void(0)">锋利的jQuery锋利在哪儿？</a></td><td>tom</td></tr>
				<tr><td>5</td><td><a href="javascript:void(0)">PHP核心模块这边书有价值吗？</a></td><td>tom</td></tr>
				<tr><td>6</td><td><a href="javascript:void(0)">PHP设计模式的低劣之处</a></td><td>tom</td></tr>
				<tr><td>7</td><td><a href="javascript:void(0)">程序员修炼之道！</a></td><td>tom</td></tr>
				
				{/if}
				</table>
	</div>
</div>
{/if}
{if $respond}
<div class="row">
	<div class="col-md-8">
			<div class="answer">
					<table>
					<form action='' method="post">
					<input type="hidden" name='uid' id="uid">
					<input type="hidden" name="id" value={$id}>
					<input type="hidden" name="cid" value={$cid}>
						<tr>
							<td>
							<span class="h3 text-primary">{$oneTopic->topic}</span>
							</td>
						</tr>
						<tr>
							<td>
							<textarea rows="15" cols="150" name="respond" id="respond" class="form-control"></textarea>	
							<script src="{$ROOT}/public/scripts/myckeditor.js"></script>
							</td>
						</tr>
						<tr><td><input type="submit" value="提交" name="send" class="btn btn-success" id="respondBtn"></td></tr>
					</form>
					</table>					
					</div>
	</div>
	<div class="col-md-4">
		<table class="table table-striped table-hover table-condensed" style="border:1px solid #ddd">
				<tr><th style="text-align:center;" colspan="3">热 门 问 答</th></tr>
				{if $askLeaderboard}
				{foreach $askLeaderboard as $key=>$value}
				<tr>
					<td width=70>{$value->answerNum}&nbsp;回复</td>
					<td><a class='ask_title' href="/ask/detail/id/{$value->id}" target="_blank">{$value->topic|truncate:21:"..."}</a></td>
					<td>{$value->uid}</td>
				</tr>
				{/foreach}	
				{else}	
				<tr><td>1</td><td><a href="javascript:void(0)">最佳前端入门方法</a></td><td>tom</td></tr>
				<tr><td>2</td><td><a href="javascript:void(0)">CSS权威指南如何？</a></td><td>tom</td></tr>
				<tr><td>3</td><td><a href="javascript:void(0)">JavaScript红宝书在哪儿有卖？</a></td><td>tom</td></tr>
				<tr><td>4</td><td><a href="javascript:void(0)">锋利的jQuery锋利在哪儿？</a></td><td>tom</td></tr>
				<tr><td>5</td><td><a href="javascript:void(0)">PHP核心模块这边书有价值吗？</a></td><td>tom</td></tr>
				<tr><td>6</td><td><a href="javascript:void(0)">PHP设计模式的低劣之处</a></td><td>tom</td></tr>
				<tr><td>7</td><td><a href="javascript:void(0)">程序员修炼之道！</a></td><td>tom</td></tr>
				
				{/if}
				</table>
	</div>
</div>
{/if}
</div>
{include file="home/footer.html"}
<script src="{$ROOT}/vendor/ueditor/ueditor.config.js"></script>
<script src="{$ROOT}/vendor/ueditor/ueditor.all.js"></script>
<script>
	var ue=UE.getEditor("commentEditor");
	
</script>
</body>
</html>