<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$oneNav->name}</title>
<meta name="keywords" content="{$smarty.const.KEY_WORDS}">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/vendor/ckeditor/ckeditor.js"></script>
<script src="{$ROOT}/public/scripts/login.js"></script>
<script src="{$ROOT}/public/scripts/home.js"></script>
<script src="{$ROOT}/public/scripts/frontnav.js"></script>
<link href="{$ROOT}/public/styles/footer.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/member.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/common.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/header.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<script src="{$ROOT}/public/scripts/login.js"></script>
<link href="{$ROOT}/public/styles/subnav.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/subnav.js"></script>
</head>
<body>
{include file="home/common.html"}
{include file="home/header.html"}
<div class="container">
	<div class="row  subnav">
		<div class="col-md-12" style="padding:0;">
		<ul class="breadcrumb" style="background:url(public/images/topbar_bg.gif)">
			<li><a href='index.php'>首页</a></li>
			<li class="active">{$oneNav->name}</li>
		</ul>
		</div>
	</div>
	<div class="row up">
		<div class="col-md-2">
			left
		</div>
		<div class="col-md-8 navtab">
			<ul>
			{if $allSubNav}
				{foreach $allSubNav as $key=>$value}
				<li>{$value->name}
				<dl>
					{foreach $value->allArticle as $k=>$v}
					<dd>
					<a href="/article/detail/id/{$v->id}" target="_blank">
					{$v->title}
					</a>
					</dd>
					{/foreach}
				</dl>
				</li>
				{/foreach}
			{else}
				<li>暂无子导航</li>
			{/if}
			</ul>
		</div>
		<div class="col-md-2">
			right
		</div>
	</div>
</div>
{include file="home/footer.html"}
</body>
</html>